@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@400;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #FEC718;
}
    h1{
        font-size: 120px;
        line-height: 120px;
    }
.hello{
    color: #6A2288;
    font-family: 'Londrina solid';
    font-weight: 400;
    margin: 120px 0 auto;
    text-align: center;
    
} 
.subtext{
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    margin: 16px 0 40px 0;
    text-align: center;

    
} 

.eyes{
    width: 40%;
    height: 40%;
    margin: auto;
}